@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

h1 {
  @apply text-4xl;
  font-weight: bold;
  font-family: 'Geologica', sans-serif;
  font-family: 'Inclusive Sans', sans-serif;
}

@layer utilities {
  .scroll-view::-webkit-scrollbar {
    width: 8px;
  }
  
  .scroll-view::-webkit-scrollbar-track {
    background: rgb(200, 200, 200);
    border: 0;
    border-radius: 10px;
  }
  
  .scroll-view::-webkit-scrollbar-thumb {
    background: rgb(0,0,0);
    border: 0px solid rgb(0,0,0);
    border-radius: 10px;
  }

  .scroll-view::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
